# satori-reader-cli

[![codecov](https://codecov.io/gh/lhcopetti/satori-reader-cli/graph/badge.svg?token=Q41Y5267XM)](https://codecov.io/gh/lhcopetti/satori-reader-cli)

#### readme generated automatically. Last update: {{TODAY}}

A project to help keep track of my reading progress in satori reader website

{{PROGRESSION_DASHBOARD}}
