name: Build and Update README

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  build-run-update:
    runs-on: ubuntu-latest

    steps:
      - name: Configure git
        run: |
          git config --global core.autocrlf false 
          git config --global core.eol lf

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Check for CRLF line endings
        run: |
          if git grep -Il $'\r' -- ':!*.gitattributes'; then
            echo "âŒ Some files have CRLF line endings. Please use LF."
            exit 1
          fi

      - name: Build Maven Project
        run: mvn clean package

      - name: Run the JAR File
        env:
          USERNAME: ${{ secrets.SATORI_READER_LOGIN }}
          PASSWORD: ${{ secrets.SATORI_READER_PASSWORD }}
        run: java -jar target/*.jar --username "$USERNAME" --password "$PASSWORD"

      - name: Update README.md
        run: |
          echo "## Last Build: $(date)" > README.md

      - name: Commit and Push Changes
        run: |
          git add README.md
          git commit -m "Update README with latest build timestamp" || echo "No changes to commit"
          git push
